
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

table {
    width: 650px;
    border-collapse: collapse;
    margin: 20px auto;
    border: 1px solid #d9b68e;
}

td {
    border: 2px solid #d9b68e;
    vertical-align: top;
    padding: 0px;
}


header {
    background-color: #ffe6cc;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

nav {
    background-color: #dae8fc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.konten {
    width: 70%;
    background-color: #f8cecc;
    padding-top: 30px;
    padding-bottom: 50px;
    padding-left: 30px;

}

.menu {
    width: 30%;
    background-color: #d5e8d4;
    padding-top: 55px;
    padding-bottom: 30px;
}

footer {
    background-color: #ffe6cc;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


h1 {
    margin-top: 50;
}

ul {
    margin-top: 5px;
}
